<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat Example</title>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<style>
	// Video tutorial/codealong here: https://youtu.be/fCpw5i_2IYU
$blue: #74b9ff;

body {
  //background-image: url('https://images.unsplash.com/photo-1560568082-c15188aa6510?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80');
  background-color: #3498db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;

  .no-gutters {
    padding: 0;
  }

  &--right {
    float: right;

    i {
      margin-top: 10px;
      font-size: 25px;
      color: grey;
      margin-left: 14px;
      transition: .3s;

      &:hover {
        color: $blue;
        cursor: pointer;
      }
    }
  }
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;

  .input-wrapper {
    background: #fff;
    border-radius: 40px;

    i {
      color: grey;
      margin-left: 7px;
      vertical-align: middle;
    }
  }
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;

  &::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
  }

  &:focus {
    outline: none;
  }
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: .3s ease;

  &--grey {
    background: #eee;
  }

  .text {
    margin-left: 12px;
    width: 70%;

    h6 {
      margin-top: 6px;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .time {
    color: grey;
  }

  &--onhover:hover {
    background: $blue;
    cursor: pointer;

    p,
    h6,
    .time {
      color: #fff !important;
    }
  }
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }

  &--left {
     &:after {
      left: 0;
      border-right-color: #eee;
	    border-left: 0;
      margin-left: -20px;
    }
  }

  &--right {
    &:after {
      right: 0;
      border-left-color: $blue;
	    border-right: 0;
      margin-right: -20px;
    }
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.offset-md-9 {
  .chat-bubble {
    background: $blue;
    color: #fff;
  }
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;

  input {
    margin: 0 10px;
    padding: 6px 2px;
  }

  i {
    color: grey;
    font-size: 30px;
    vertical-align: middle;

    &:last-of-type {
      margin-left: 25px;
    }
  }
}
.sendIcon{
   cursor:pointer
}
	</style>

</head>
<body>


 <div class="container">
	<div class="row no-gutters">
	<!-- user list -->
	  <div class="col-md-4 border-right">
		<div class="settings-tray">
		  <img class="profile-image" src="https://clarity-enhanced.net/wp-content/themes/clarity-enhanced/assets/img/bootstrap-chat-app-assets/filip.jpg" alt="Profile img">
		  <span class="settings-tray--right">
			<i class="material-icons">cached</i>
			<i class="material-icons">message</i>
			<i class="material-icons">menu</i>
		  </span>
		</div>
		<div class="search-box">
		  <div class="input-wrapper">
			<i class="material-icons">search</i>
			<input placeholder="Search here" type="text">
		  </div>
		</div>

   <div class="user-lists">
		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="https://clarity-enhanced.net/wp-content/themes/clarity-enhanced/assets/img/bootstrap-chat-app-assets/robocop.jpg" alt="">
		  <div class="text">
			<h6 class="user-name-text">Test For</h6>
			<p class="text-muted user-id-text">Id: </p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
		   <hr>

       <div class="friend-drawer friend-drawer--onhover">
         <img class="profile-image" src="https://clarity-enhanced.net/wp-content/themes/clarity-enhanced/assets/img/bootstrap-chat-app-assets/robocop.jpg" alt="">
         <div class="text">
         <h6 class="user-name-text">Ravi malhotra</h6>
         <p class="text-muted user-id-text">32323434324</p>
         </div>
         <span class="time text-muted small">13:21</span>
       </div>

	  </div>

     </div>
	  <!-- user list -->

	  <!-- user chat description -->
	  <div class="col-md-8">

   <div class="user-chat-box-details">
		<div class="settings-tray">
			<div class="friend-drawer no-gutters friend-drawer--grey">
			<img class="profile-image" src="https://clarity-enhanced.net/wp-content/themes/clarity-enhanced/assets/img/bootstrap-chat-app-assets/robocop.jpg" alt="">
			<div class="text">
			  <h6 class="user-name-dt">Robo Cop</h6>
        <p class="user-id-dt">a9999</p>
			  <p class="text-muted">Layin' down the law since like before Christ...</p>
			</div>
			<span class="settings-tray--right">
			  <i class="material-icons">cached</i>
			  <i class="material-icons">message</i>
			  <i class="material-icons">menu</i>
			</span>
		  </div>
		</div>
		<div class="chat-panel">

		  <div class="row no-gutters">
			<div class="col-md-3">
			  <div class="chat-bubble chat-bubble--left">
				Hello dude!
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-3 offset-md-9">
			  <div class="chat-bubble chat-bubble--right">
				Hello dude!
			  </div>
			</div>
		  </div>

		  <!-- send input box -->
		  <div class="row">
			<div class="col-12">
			  <div class="chat-box-tray">
				<i class="material-icons">sentiment_very_satisfied</i>
				<input type="text" placeholder="Type your message here..." name="chat_message" id="chat_message" onkeyup="notifyTyping();">
				<!-- <i class="material-icons">mic</i> -->
				<i class="material-icons sendIcon" onclick="SendMessage();">send</i>
			  </div>
			</div>
		  </div>
		</div>
	</div>


	  </div>
	   <!-- user chat description end -->
	</div>
  </div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <script>

     var socket = io.connect('http://localhost:8810');

     socket.on("new_user_join", function(data) {
             //alert(data.user_name);
             addNewUser(data.user_name, data.id);
     });


      function sendName(){
          socket.emit("welcome", 'Binod Kumar Yadav');
      }
  </script>

 <script>
	$( '.friend-drawer--onhover' ).on( 'click',  function() {
      alert('Hello');
      $( '.chat-bubble' ).hide('slow').show('slow');
      user_name =  ($(this).find(".user-name-text").text());
      socket_id =  ($(this).find(".user-id-text").text());
    //  alert(user_name);
      $('.user-name-dt').html(user_name);
      $('.user-id-dt').html(socket_id);
	});

  function addNewUser(user_name, socket_id){

   var userListDiv =  `<hr><div class="friend-drawer friend-drawer--onhover" onclick="openChatBox('`+socket_id+`', '`+user_name+`');">
		  <img class="profile-image" src="https://clarity-enhanced.net/wp-content/themes/clarity-enhanced/assets/img/bootstrap-chat-app-assets/robocop.jpg" alt="">
		  <div class="text">
			<h6 class="user-name-text">`+user_name+`</h6>
			<p class="text-muted user-id-text">`+socket_id+`</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>`;

    $(".user-lists").append(userListDiv);

  }

  function SendMessage(){
      socket_id =  $('.user-id-dt').html();
      chat_message =  $('#chat_message').val();
      //alert(socket_id);
      //alert(chat_message);
      socket.emit("say_to_one_user", {socket_id : socket_id, message : chat_message});

  }
  function openChatBox(socket_id, user_name){
      $( '.chat-bubble' ).hide('slow').show('slow');
      $('.user-name-dt').html(user_name);
      $('.user-id-dt').html(socket_id);
  }

  function notifyTyping() {
    socket_id =  $('.user-id-dt').html();
    //var user = $('#user').val();
    socket.emit('notify_user_typing', socket_id);
  }
 </script>
  </body>
    </html>
